body{
    margin: 0px;
    background:#F3E5F5;
}
h1{
    margin-left: 20%;
}

.container {
    margin: 0% 5%;
}

.news-feed-container {
    margin-top: 30px;
}

.card{
    margin-bottom: 20px;
}

.center{
    margin: 20% 45%;

}